<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OtherstuFF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/common.css">
    <link rel="stylesheet" href="/static/styles/nav.css">
    <link rel="stylesheet" href="/static/styles/footer.css">
    <link rel="stylesheet" href="/static/styles/skewed-header.css">
    <link rel="stylesheet" href="/static/styles/square-grid.css">
    <link rel="stylesheet" href="/static/styles/helpers.css">
    <link rel="stylesheet" href="/static/styles/media-queries.css">

</head>
<body>
    <div class="skewed-header">
        
        <div class = "header-bg">

            <img src="/static/images/backgrounds/turkey.jpg">

        </div>

        <div class="skewed-header-wrapper">
            <div class="skewed-header-content">
                <div class="heading-wrapper">
                    <h1>Otherstuff</h1>
                </div>

                <div class="links-wrapper">
                    <div class="nav-link">
                        <a href="index.html">Home</a>
                    </div>

                    <div class="nav-link">
                        <a href="pageTwo.html">Other Stuff</a>
                    </div>

                    <div class="nav-link">
                        <a href="pageThree.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="squares-wrapper">
        <div class="squares">
            <div class="square">
                <div class="img-wrapper">
                    <img src="/static/images/camel.png" alt="Fries">
                </div>

                <div class="square-text-wrapper">
                    <a href="#spicy" name="spicy" class="anchor-link">
                        <h1>Camel Meat</h1>
                    </a>

                    <ul>
                        <li>Taste like enchiladas.</li>
                        <li>It'll improve your eyesite.</li>
                        <li>It'll also improve you jumping skillz.</li> 
                    </ul>
                </div>
            </div>
            <div class="square">
                <div class="square-text-wrapper">
                    <a href="#medium" name="medium" class="anchor-link">
                        <h1>Emu BBQ</h1>
                    </a>

                    <ol>
                        <li>oh my! try this Emu BBQ , i bet you come back for more.</li> 
                        <li>greatest BBQ meat imported by the Nigeria prince! BEST EVER !!!</li> 
                        <li>you cant buy happiness but . . . you can buy Emu BBQ</li>  
                        <li> believe in something even if it means sacfricing evrything..just do EMU BBQ</li>
                    </ol>
                </div>

                <div class="img-wrapper">
                    <img src="/static/images/emu.png" alt="Fries">
                </div>
            </div>
            <div class="square">
                <div class="img-wrapper">
                    <img src="/static/images/goat.png" alt="Fries">
                </div>

                <div class="square-text-wrapper">
                    <a href="#mild" name="mild" class="anchor-link">
                        <h1>Al Pastor</h1>
                    </a>

                    <ul>
                        <li>Goat is a great alternative to Turkey My favorite style is</li>
                        <li>Al Pastor Prepared by Pork is marinated in a combination of dried chilies,  </li>
                        <li>spices and pineapple. In some places, achiote is also added,</li>
                        <li>and then slowly cooked with a gas flame on a vertical rotisserie called a trompo </li>
                    </ul>
                </div>
            </div>
            <div class="square">
                <div class="square-text-wrapper">
                    <a href="#noflavor" name="noflavor" class="anchor-link">
                        <h1>No Flavor</h1>
                    </a>

                    <ul>
                        <li>Has no flavor and there's no point in eating it.</li>
                        <li>Literally taste like nothing.</li>
                        <li>Add camel meat to enhance flavor.</li>
                        <li>It'll fill you up tho.</li>
                    </ul>
                </div>

                <div class="img-wrapper">
                    <img src="/static/images/emu2.png" alt="Fries">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="logo-footer">
            <img src="/static/images/logos/whiteturkeylogo.png" alt="Logo">
        </div>

        <div class="footer-phone-hours">
            <span class="phone">
                801 472 5088
            </span>

            <span class="hours">
                Thanks Giving 
            </span>
        </div>

        <div class="links-wrapper">
            <div class="nav-link">
                <a href="index.html">Home</a>
            </div>
            
            <div class="nav-link">
                <a href="pageTwo.html">Other Stuff</a>
            </div>

            <div class="nav-link">
                <a href="pageThree.html">Contact</a>
            </div>
        </div>

        <div class="social-media-icons-wrapper">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>

        <div class="copyright-wrapper">
            &copy; 2018 DevCamp &#124; All rights reserved
        </div>
    </div>
</body>